<h4 class="display-4">{{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>

<form id="metadata-value-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- value input -->
    <div class="form-group" [class.was-validated]="value.dirty || value.touched">
      <label class="control-label" for="value">value*</label>
      <input id="value" name="value" type="text" class="form-control" required
             [(ngModel)]="metadataValue.value" #value="ngModel">
      <div class="invalid-feedback">A value is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
    </div>

  </fieldset>
</form>
