<h2>Edit metadataValue</h2>
<form id="MetadataValueForm-form" [formGroup]="MetadataValueForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <div class="form-group row">
      <label class="col-md-3 control-label" for="value">Is the metadataValue available?</label>
      <input id="value" type="text" class="form-control input-md"
             [ngModel]="MetadataValue.value"/>
      <div class="col-md-9">
      </div>
    </div>

    <div *ngIf="errorMessage" class="form-group row">
      <div class="col-md-3"></div>
      <div class="label-danger col-md-9">{{ errorMessage }}</div>
    </div>

    <!-- Button -->
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button id="createAdmin" type="submit"
                class="btn btn-success pull-right" [disabled]="!metadataValueForm.valid">Edit
        </button>
      </div>
    </div>

  </fieldset>
</form>
