<h4>{{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>

<form id="xml-sample-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Text input -->
    <div class="form-group" [class.was-validated]="text.dirty || text.touched">
      <label class="control-label" for="text">Text*</label>
      <input id="text" name="text" type="text" class="form-control" required
             [(ngModel)]='xmlSample.text' #text="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

    <!-- XML -->
    <div class="form-group" [class.was-validated]="xml.dirty || xml.touched">
      <label class="control-label" for="xml">XML</label>
      <input id="xml" name="xml" type="text" class="form-control" required
             [(ngModel)]='xmlSample.xml' #xml="ngModel">
      <div class="invalid-feedback">The XML field is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
    </div>

  </fieldset>
</form>
