.tag-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-side {
  float: right;
  margin-right: 5px
}

.th-name {
  font-size: 2em;
  padding-top: .5em;
}

.list-wrapper {
  padding-bottom: 5em;
}
