.marged-left {
  margin-right: 10px;
}

.circle {
  border-radius: 50%;
}

.link {
  color: #50b9ff !important;
}

.link:hover {
  cursor: pointer;
}

.fab {
  position: fixed;
  bottom: 2em;
  right: 3em;
}

.modal-header {
  display: block;
}
