<h4>{{detailsPageTitle}}</h4>
<p class="lead">{{detailsPageSubtitle}}</p>

<div class="card">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{sample.id}}</h4>
    <div class="p-3">
      <h6 class="card-subtitle text-muted">ID</h6>
      <p class="card-text">{{sample.id}}</p>
    </div>
    <div class="p-3">
      <h6 class="card-subtitle text-muted">Text</h6>
      <p class="card-text">{{sample.text}}</p>
    </div>
    <div class="p-3">
      <h6 class="card-subtitle text-muted">Described by</h6>
      <p class="card-text">{{sample.describedBy}}</p>
    </div>
    <!--
    <div class="p-3">
      <h6 class="card-subtitle text-muted">Role</h6>
      <p class="card-text">{{user.authorities[0]?.authority.split('_')[1]}}</p>
    </div> -->
    <div class="card-footer text-center">
      <button id="listBtn" type="button" [routerLink]="['..']"
              class="btn btn-primary">Back to List
      </button>
      <button id="editBtn" type="button" [routerLink]="['edit']"
              class="btn btn-success">Edit
      </button>
      <button id="deleteBtn" type="button" [routerLink]="['delete']"
              class="btn btn-danger">Delete
      </button>
    </div>
  </div>
</div>
