<h4 class="display-4">{{detailsPageTitle}}</h4>
<p class="lead">{{detailsPageSubtitle}}</p>

<div class="card">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">Sample</h4>
    <div class="p-3">
      <h6 class="card-subtitle text-muted">Metadata Template</h6>
      <p class="card-text">{{sample?.describedBy?.name}}</p>
    </div>
    <div class="p-3">
      <h6 class="card-subtitle text-muted">Metadata Values</h6>
      <div *ngFor="let value of metadataValues" class="card-text">
        <div *ngIf="compareMetadata(value); else notShow">
          <p><b>{{value?.fieldCategory}}</b></p>
          <p>{{value?.fieldName}}  --- {{value?.value}}</p>
        </div>
        <ng-template #notShow>
            <p>{{value?.fieldName}} --- {{value?.value}}</p>
        </ng-template>
      </div>
    </div>

    <div class="p-3">
      <h6 class="card-subtitle text-muted">Text</h6>
      <p class="card-text">{{sample.text}}</p>
    </div>
    <div class="card-footer text-center">
      <button id="listBtn" type="button" [routerLink]="['/samples']"
              class="btn btn-primary">Back to List
      </button>
      <button id="editBtn" type="button" [routerLink]="sample?.uri+'/edit'"
              class="btn btn-success">Edit
      </button>
      <button id="deleteBtn" type="button" [routerLink]="sample?.uri+'/delete'"
              class="btn btn-danger">Delete
      </button>
    </div>
  </div>
</div>
