<h4>Tag: {{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>
<hr>
<div>
  <div class="card">
    <div class="card-body">
      <p><b>Name:</b> {{tag.name}}</p>
      <p><b>Location</b>: {{tag.uri}}</p>
      <p *ngIf="tag.tagHierarchy"><b>Tag-hierarchy</b>: {{tag.tagHierarchy.name}}</p>
      <p *ngIf="tag.parent; then content else other_content"><b>Parent</b>: {{tag.parent.name}}</p>
      <ng-template #content><b>Parent</b>: {{tag.parent.name}}</ng-template>
      <ng-template #other_content><b>Parent</b>: I'm a root</ng-template>
    </div>
  </div>

</div>
