<h4 class="display-4">Metada templates</h4>
<p class="lead">List of metadata templates</p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <app-template-search (emitResults)="showSearchResults($event)" [metadataTemplates]="metadataTemplates"></app-template-search>
  </div>
  <div class="col mb-3">
    <button id="addBtn" class="btn btn-primary pull-right" [routerLink]="['/metadataTemplates/new']" type="button">Add Metadata template</button>
  </div>
</div>


<div class="card mb-1" *ngFor="let metadataTemplate of metadataTemplates">
  <div class="card-block row m-1">
    <h6 class="card-title col-md-12 p-1"><a routerLink="{{metadataTemplate.uri}}">{{metadataTemplate.name}}</a></h6>
    <div class="col-md-6 p-1">
      <h4 class="card-subtitle text-muted">Metadata Name</h4>
      <p class="card-text">{{metadataTemplate.name}}</p>
    </div>
    <div class="col-md-6 p-1">
      <button type="button" class="btn m-1 btn-outline-primary pull-right" routerLink="{{metadataTemplate.uri}}"><i style="margin-right: .25em" class="fa fa-info-circle"></i>Details</button>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{metadataTemplates.length}} out of { totalMetadataTemplates, plural,
  =1 {1 template}
  other { {{totalMetadataTemplates}} templates} }</p>
