<h4>{{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>

<form id="taghierarcy-form" #form="ngForm">
  <fieldset>

    <!-- name input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="name">Name*</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="tagHierarchyName" #name="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Structure</h5>
        <button class="btn btn-outline-primary btn-sm add-root" (click)="addRoot()">Add root</button>
        <h6 *ngIf="newNodes.length === 0" class="text-muted center">No roots added</h6>
        <tree-root #tree [nodes]="newNodes" [options]="options">
          <ng-template #treeNodeTemplate let-node let-index="index">
            <div class="form-inline ml-sm-2">
              <input type="text" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm mr-sm-2" [(ngModel)]="node.data.name">
              <button class="fa fa-plus btn btn-outline-success btn-sm mr-sm-2" (click)="addChildren(node)"></button>
              <button class="fa fa-minus btn btn-outline-danger btn-sm" (click)="deleteNode(node.data.id)"></button>
            </div>
          </ng-template>
        </tree-root>
      </div>
    </div>


    <!-- Button -->
    <div class="form-group mt-4">
      <button id="back" type="button" class="btn btn-outline-danger pull-right" (click)="goBack()">Cancel</button>
      <button id="submit" type="submit" class="btn btn-success pull-right marged-left" (click)="onSubmit()" [disabled]="!form.form.valid || newNodes.length === 0">Submit</button>
    </div>

  </fieldset>
</form>
