<ng-template #content let-modal>
    <div class="modal-header">
      <div class="row">
        <div class="col-11">
          <h4>{{formTitle}}</h4>
          <p class="lead">{{formSubtitle}}</p>
        </div>
        <div class="col-1">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
<div class="modal-body">
<form id="tag-form" (ngSubmit)="onSubmit(form)" #form="ngForm">

  <fieldset>
    <!-- Name input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" required [(ngModel)]="tag.name" #name="ngModel">
      <div class="invalid-feedback">A name is required</div>
    </div>

    <!-- Tag Hierarchy select -->
    <div class="form-group">
      <label for="tagHierarchySelect">Tag Hierarchy</label>
      <select class="form-control" id="tagHierarchySelect" required
      [(ngModel)]="uriTagHierarchy" #tagHierarchyselect name="tagHierarchyselect" (change)="optionSelectedth(tagHierarchyselect.value);">
        <option *ngFor="let th of tagHierarchy;let i = index" [value]="i">{{th.name}}</option>
      </select>
   </div>

    <!-- Parent Tag select -->
    <div class="form-group">
      <label for="parentSelect">Parent Tag</label>
      <select class="form-control" id="parentSelect"
      [(ngModel)]="uriTag" #parentSelect name="parentSelect"
      (change)="optionSelectedt(parentSelect.value)">
        <option [value]=-1>Im a root tag</option>
        <option *ngFor="let t of tagParent;let i = index" [value]="i">{{t.name}}</option>
      </select>
    </div>

    <!-- Submit & back buttons -->
    <div class="form-group">
      <button id="back" type="button" class="btn btn-outline-danger pull-right" (click)="modal.close()">Back</button>
      <button id="submit" type="submit" class="btn btn-outline-success btn-success pull-right marged-left" [disabled]="!form.form.valid" >Submit</button>
    </div>
  </fieldset>
</form>
</div>
</ng-template>

<button class="btn btn-primary btn-lg float-right circle fab" (click)="open(content);"><span class="fa fa-plus"></span></button>

