<h4>{{formTitle}}</h4>
<p class="lead">{{formSubtitle}}</p>

<form id="tagHierarchy-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- name input -->
    <div class="form-group" [class.was-validated]="name.dirty || name.touched">
      <label class="control-label" for="name">Name*</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="tagHierarchy.name" #name="ngModel">
      <div class="invalid-feedback">The text is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="back" type="button" class="btn btn-outline-danger pull-right" (click)="goBack()">Cancel</button>
      <button id="submit" type="submit" class="btn btn-success pull-right marged-left" [disabled]="!form.form.valid">Submit</button>
    </div>

  </fieldset>
</form>
