<h4>Edit Tag</h4>
<p class="lead">Edit an existing Tag</p>

<form id="tag-form" (ngSubmit)="onSubmit(form)" #form="ngForm">

<fieldset>
  <!-- Name input -->
  <div class="form-group" [class.was-validated]="name.dirty || name.touched">
    <label class="control-label" for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control" required [(ngModel)]="tag.name" #name="ngModel">
    <div class="invalid-feedback">A name is required</div>
  </div>

  <!-- Tag Hierarchy select -->
  <div class="form-group">
    <label for="tagHierarchySelect">Tag Hierarchy</label>
    <select class="form-control" id="tagHierarchySelect" required
    [(ngModel)]="uriTagHierarchy" #name="ngModel" #tagHierarchyselect name="tagHierarchyselect" (change)="optionSelectedth(tagHierarchyselect.value);">
      <option *ngFor="let th of tagHierarchy;let i = index" [value]="i">{{th.name}}</option>
    </select>
 </div>

  <!-- Parent Tag select -->
  <div class="form-group">
    <label for="parentSelect">Parent Tag</label>
    <select class="form-control" id="parentSelect"
    [(ngModel)]="uriTag" #name="ngModel" #parentSelect name="parentSelect"
    (change)="optionSelectedt(parentSelect.value)">
      <option [value]=-1>Im a root tag</option>
      <option *ngFor="let t of tagParent;let i = index" [value]="i">{{t.name}}</option>
    </select>
  </div>

  <!-- Submit & back buttons -->
  <div class="form-group">
    <button id="back" type="button" class="btn btn-outline-danger pull-right" (click)="letsGoBack()">Back</button>
    <button id="submit" type="submit" class="btn btn-outline-success btn-success pull-right marged-left" [disabled]="!form.form.valid" >Submit</button>
  </div>
</fieldset>
</form>
