<h4>MetadataField</h4>
<p class="lead">Administer the metadatafield </p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <button id="addBtn" class="btn btn-primary pull-right" [routerLink]="['/metadataField/new']" type="button">Add MetadataField </button>
  </div>
</div>

<div class="card mb-1" *ngFor="let metadataField of metadataFields">
  <div class="card-block row m-1">
    <h6 class="card-title col-md-12 p-1"><a routerLink="{{metadataField.uri}}">{{metadataField.uri}}</a></h6>
    <div class="col-md-4 p-1">
      <h4 class="card-subtitle text-muted">MetadataField Name</h4>
      <p class="card-text">{{metadataField.name}}</p>
    </div>
    <div class="col-md-4 p-1">
      <a class="card-link pull-right" routerLink="{{metadataField.uri}}">Details(Not implemented)</a>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{metadataFields.length}} out of { totalMetadataFields, plural,
  =1 {1 metadataField}
  other { {{totalMetadataFields}} metadataFields} }</p>
