<h4>MetadataField</h4>
<p class="lead">Administer the metadatafield </p>

<div class="row justify-content-between">
  <div class="col mb-3">
    <button id="addBtn" class="btn btn-primary pull-right" [routerLink]="['/metadataFields/new']" type="button">Add MetadataField </button>
  </div>
</div>

<div class="card mb-1" *ngFor="let metadataField of metadataFields">
  <div class="card-block row m-1">
    <h6 class="card-title col-md-12 p-1"><a routerLink="{{metadataField.uri}}">{{metadataField.id}}</a></h6>
    <div class="col-md-6 p-1">
      <h4 class="card-subtitle text-muted">MetadataField Name</h4>
      <p class="card-text">{{metadataField.name}}</p>
    </div>
    <div class="col-md-6 p-1 text-right">
      <button type="button" class="btn m-1 btn-outline-primary pull-right" routerLink="{{metadataField.uri}}"><i style="margin-right: .25em" class="fa fa-info-circle"></i>Details</button>
    </div>
  </div>
</div>

<p i18n class="text-center">Showing {{pageTotalMetadataFields}} out of
  { totalMetadataFields, plural, =1 {1 metadataField}  other { {{totalMetadataFields}} metadataFields} }
</p>

<!-- list.component.html -->
<div id="buttons" style="text-align: center">
  <button class="btn m-1 btn-outline-primary" (click)="goPrev()" [disabled]="actualPage === 0"> Previous</button> {{actualPage}}
  <button class="btn m-1 btn-outline-primary" (click)="goNext()" [disabled]="hasNext === false"> Next</button>
</div>
